{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <div class="row" id="intro">
            <div class="col-md-12">
                <h1 style="color: #9b2525; font-size: 2em;">Query-able Data Repository</h1>
                <p style="margin-top: 1.5em; text-align: justify">
                    Data is collected from the <a href="http://smstestbed.nist.gov">Smart Manufacturing Systems (SMS) Test Bed’s</a>
                    Manufacturing Lab using the <a href="http://www.mtconnect.org/">MTConnect</a>
                    standard. That data is aggregated and published internally and externally of NIST via web services.
                    Three channels of data dissemination are available or becoming available from the SMS Test Bed:
                    (1) a volatile data stream using an MTConnect agent,
                    (2) a query-able data repository using the NIST Material Data Curation System (MDCS), and
                    (3) pre-compiled data packages that include a collection of CAx Lab data and associated Manufacturing Lab da$
                    You are viewing the query-able data repository.
                </p>
                <p>
                    An account is required to access this system.
                    You may request an account on the login page by click login to the right.
                </p>
                <p>
                    For more information about the SMS Test Bed, please visit <a href="http://smstestbed.nist.gov">http://smstestbed.nist.gov</a>.
                </p>
            </div>
        </div>
    </div>
</div>
